@use '@angular/material' as mat;

@mixin drag-drop-custom($theme) {
  .drag-drop-list {
    min-height: 60px;
    overflow: hidden;
    display: block;
  }

  .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;

    padding: 20px 10px;
    border-radius: 1.5rem;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .task:last-child {
    border: none;
  }

  .drag-drop-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
