@mixin snackbar-theme($theme) {

  .snackbar-primary {
    --mdc-snackbar-container-color: #2979ff;
    color: #ffffff;
  }

  .snackbar-success {
    --mdc-snackbar-container-color: #43a047;
    color: #ffffff;
  }

  .snackbar-info {
    --mdc-snackbar-container-color: #03a9f4;
    color: #ffffff;
  }

  .snackbar-warning {
    --mdc-snackbar-container-color: #FF9800;
    color: #ffffff;
  }

  .snackbar-danger {
    --mdc-snackbar-container-color: #f44336;
    color: #ffffff;
  }

}
