.inbox-container {

  .scrollable-content {
    max-height: 10rem; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
    padding: 1.5rem;
  }

  .mat-grid-list {
    margin: 0.5rem 1rem 2rem 1rem;
  }

  .mat-grid-tile {
    border-radius: 1.5rem;

    mat-grid-tile-header, mat-grid-tile-footer {
      display: flex;
    }

    mat-grid-tile-header {
      flex-direction: column;
    }

    mat-grid-tile-footer {
      justify-content: right;
    }
  }
}


.tile-small {
  /* Estilos para telas pequenas */
  background-color: rgba(255, 0, 0, 0.1); /* Exemplo: fundo vermelho claro */
}

.tile-medium {
  /* Estilos para telas médias */
  background-color: rgba(0, 255, 0, 0.1); /* Exemplo: fundo verde claro */
}

.tile-large {
  /* Estilos para telas grandes */
  background-color: rgba(0, 0, 255, 0.1); /* Exemplo: fundo azul claro */
}
