.modal {

  .mat-mdc-card-title {
    padding: 1rem;
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-card-actions {
    display: flex;
    justify-content: flex-end;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  max-height: 25rem; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adicione uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
  padding: 1rem;
}
