.login-container {
  background: no-repeat  url("../../assets/backgrounds-canva/3.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh; /* Ocupa a altura total da viewport */
}

mat-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  mat-card-title {
    color: white;

    font-size: 45px;
    padding: 15px;
    margin-bottom: 1.5rem;
  }
}
