<div class="tasks-container">

    <mat-toolbar class="actions-bar">
      <button mat-button class="btn-custom">Lista</button>
      <button mat-button class="btn-custom">Kanban</button>
      <button mat-button class="btn-custom">Calendário</button>
      <button mat-button class="btn-custom">Agrupar</button>
      <button mat-button class="btn-custom">Ordenar</button>
      <button mat-button class="btn-custom">Filtrar</button>
    </mat-toolbar>

  <div class="tasks-card">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <button mat-button [cdkMenuTriggerFor]="menu">A fazer</button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>

          <ng-template #menu>
            <div class="menu" cdkMenu>
              <button class="menu-item" cdkMenuItem>Renomear</button>
              <button class="menu-item" cdkMenuItem (click)="createTask()">Adicionar tarefa</button>
            </div>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="scrollable-content scrollbar-custom">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList, inProgressList]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of todo; track item) {
              <div class="task" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </mat-card-content>

    </mat-card>









    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <button mat-button [cdkMenuTriggerFor]="menu">Em progresso</button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <ng-template #menu>
            <div class="menu" cdkMenu>
              <button class="menu-item" cdkMenuItem>Refresh</button>
              <button class="menu-item" cdkMenuItem>Settings</button>
              <button class="menu-item" cdkMenuItem>Help</button>
              <button class="menu-item" cdkMenuItem>Sign out</button>
            </div>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="scrollable-content scrollbar-custom">
          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of inProgress; track item) {
              <div class="task" cdkDrag>{{ item }}</div>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <button mat-button [cdkMenuTriggerFor]="menu">Feito</button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <ng-template #menu>
            <div class="menu" cdkMenu>
              <button class="menu-item" cdkMenuItem>Refresh</button>
              <button class="menu-item" cdkMenuItem>Settings</button>
              <button class="menu-item" cdkMenuItem>Help</button>
              <button class="menu-item" cdkMenuItem>Sign out</button>
            </div>
          </ng-template>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="scrollable-content scrollbar-custom">
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inProgressList]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of done; track item) {
              <div class="task" cdkDrag>
                {{ item }}
              </div>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
<!--          <button mat-button [cdkMenuTriggerFor]="menu" class="menu-standalone-trigger">Adicionar etapa</button>-->
          <button mat-button>Adicionar etapa</button>
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
<!--          <ng-template #menu>-->
<!--            <div class="menu" cdkMenu>-->
<!--              <button class="menu-item" cdkMenuItem>Refresh</button>-->
<!--              <button class="menu-item" cdkMenuItem>Settings</button>-->
<!--              <button class="menu-item" cdkMenuItem>Help</button>-->
<!--              <button class="menu-item" cdkMenuItem>Sign out</button>-->
<!--            </div>-->
<!--          </ng-template>-->
        </mat-card-subtitle>
      </mat-card-header>

        <mat-card-content>
            {{  }}
        </mat-card-content>
    </mat-card>
  </div>
</div>
