.app-container {
  height: 100vh; /* Ocupa a altura total da viewport */
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;

  min-height: 5rem;
}

.inner-container {
  background: #FFFFFF00;
  position: absolute;
  overflow-x: auto;

  top: 5.4rem;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-drawer {
    border-bottom-right-radius: 0;
  }

  .mat-drawer.mat-drawer-side {
    padding-left: 1rem;
    padding-top: 1rem;
    max-width: 16rem;
  }
}
