.login-container {
  //background: no-repeat  url("../../../../assets/backgrounds-canva/3.png");
  //background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh; /* Ocupa a altura total da viewport */
}




  mat-card-title {

    font-size: 45px;
    padding: 15px;
    margin-bottom: 1.5rem;
  }
