<div class="inbox-container">

  <mat-toolbar class="actions-bar">
    barra de ações para mensagens
  </mat-toolbar>

  <mat-grid-list cols="4" rowHeight="10rem" gutterSize="0.5rem">
    <mat-grid-tile *ngFor="let message of messages$ | async" [colspan]="1" [rowspan]="2"
                   [style.background]="'rgba(255,255,255,0.55)'">
      <mat-grid-tile-header>
        <div class="message-title">{{ message.title }}</div>
        <div class="message-sender">{{ message.sender }}</div>
      </mat-grid-tile-header>
      <div>
        {{ message.text }}
      </div>
      <div>
        Status: {{ message.status }}
      </div>
      <mat-grid-tile-footer>
        <button mat-button class="btn-custom" (click)="deleteMessage(message._id)">Deletar</button>
        <button mat-button class="btn-custom" (click)="archiveMessage(message._id)">Arquivar</button>
        <button mat-flat-button class="btn-custom">Responder</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>

