.inbox-container {

  .scrollable-content {
    max-height: 10rem; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
    padding: 1.5rem;
  }

  .mat-grid-list {
    margin: 0.5rem 1rem 2rem 1rem;
  }

  .mat-grid-tile {
    border-radius: 1.5rem;

    mat-grid-tile-header, mat-grid-tile-footer {
      display: flex;
    }

    mat-grid-tile-header {
      flex-direction: column;
    }

    mat-grid-tile-footer {
      justify-content: right;
    }
  }
}
