.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .tasks-card {
    display: flex;
    align-items: stretch;
    height: 100%;
  }
}

.scrollable-content {
  max-height: 35rem; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adicione uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
  padding-right: 0.5rem;
}

.mat-mdc-card {
  margin: 0.5rem 0 2rem 1rem;
  min-width: 20rem;
  max-width: 20rem;

  .mat-mdc-card-header {
    display: block;
  }

  .mat-mdc-card-subtitle {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  padding: 6px 0;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

