.app-container {
  background: no-repeat  url("../../assets/backgrounds-canva/3.png");
  background-size: cover;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  height: 100vh; /* Ocupa a altura total da viewport */
}
