@use '@angular/material' as mat;
@use 'theme/light';
@use 'theme/dark';
@use 'theme/mixins/utils';

@include mat.core();

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
}

//@media (prefers-color-scheme: dark) {
  body.dark-theme {
    background-image: url('assets/dark12.png');
    background-size: cover;
  }
//}

//@media (prefers-color-scheme: light) {
  body.light-theme {
    background-image: url('assets/bg-light-theme.png');
    background-size: cover;
  }
//}

html {
  @include mat.all-component-themes(light.$theme);
  @include utils.mixins(light.$theme);

  @media (prefers-color-scheme: dark) {
    .dark-theme {
      @include mat.all-component-themes(dark.$theme);
      @include utils.mixins(dark.$theme);
    }
  }
}
